a {
	cursor: pointer;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.printWord {
	width: 230px;
	float: left;
}

.saveDictionaryLink {
	color: red;
	font-weight: 700;
}

.highlightText {
	background: #FFFBCC;
}

#dictionaryList li:nth-child(even){
	background-color: #f8f9fa;
}

#dictionaryList .list-group-item:hover {
	background-image: linear-gradient(#eeeeee, white);
	font-weight: 700;
}

#shuffleBox {
	width: 80%; margin: auto auto;
}

#shuffleBox .container {
	text-align: center;
	padding: 15px 5px 15px 5px;
}

#shuffleBox .container h1{
	font-size: 3.3rem;
	padding: 20px;
}

#shuffleBox .score{
	padding: 0px 5px;
	font-weight: 700;
}

#shuffleBox .points{
	padding: 0px 5px;
	font-size: 20pt;
}

#shuffledWord {
	min-height: 105px;
	display: inline-block;
}

#dictionaryList select.btn-mini,
#shuffleBox select.btn-mini {
	height: auto;
}

/* this is optional (see below) */
#dictionaryList select.btn,
#shuffleBox select.btn {
	-webkit-appearance: button;
	   -moz-appearance: button;
			appearance: button;
	padding-right: 16px;
}

.goodScores {
	color: green;
}

.badScores {
	color: red;
}

@-moz-keyframes spinRight { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinRight { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinRight { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spinLeft { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spinLeft { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spinLeft { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@-webkit-keyframes shaking {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.spinRightEffect {
	-webkit-animation:spinRight 0.4s ease-in-out;
	-moz-animation:spinRight 0.4s ease-in-out;
	animation:spinRight 0.4s ease-in-out;
}

.spinLeftEffect {
	-webkit-animation:spinLeft 0.4s ease-in-out;
	-moz-animation:spinLeft 0.4s ease-in-out;
	animation:spinLeft 0.4s ease-in-out;
}

.shakeEffect {
	-webkit-animation:shaking 0.4s ease-in-out;
	-moz-animation:shaking 0.4s ease-in-out;
	animation:shaking 0.4s ease-in-out;
}

@media (max-width: 500px) {
  #shuffleBox .btn-lg {
	font-size: 1rem;
  }
}

#searchinput {
	width: 200px;
}
#searchclear {
	position: absolute;
	right: 5px;
	top: 0;
	bottom: 0;
	height: 14px;
	margin: auto;
	font-size: 14px;
	cursor: pointer;
	color: #ccc;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.navbar-light .navbar-nav .active {
	font-weight: 700;
}
